body {
    font-family: Arial, sans-serif;
    background: #f4f6f9;
}

h2 {
    text-align: center;
    margin-top: 30px;
}

a {
    display: block;
    text-align: center;
    margin: 20px;
    color: #4CAF50;
    font-weight: bold;
}

div {
    background: white;
    margin: 20px auto;
    max-width: 700px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 12px;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
}

button:hover {
    background: #45a049;
}